apiVersion: batch/v1
kind: Job
metadata:
  name: db-migration
spec:
  template:
    spec:
      containers:
      - name: migration
        image: biide/api:latest
        command: ["alembic", "upgrade", "head"]
        envFrom:
        - secretRef:
            name: api-secrets
      restartPolicy: Never
  backoffLimit: 4
